{% extends 'base.html.twig' %}

{% block title %}Contactez-moi !{% endblock %}

{% block body %}
<link rel="stylesheet" href="/assets/css/style_contact.css">
    <h1>Page de contact</h1>
<div class="container">
    {{ form_start(formContact) }}
    <br>

    {{ form_row(formContact.nom, {'attr': {placeholder: "Votre nom"}}) }}
<br>
    {{ form_row(formContact.prenom, {'attr': {placeholder: "Votre prénom"}}) }}
<br>
    {{ form_row(formContact.mail, {'attr': {placeholder: "Votre Email"}}) }}
<br>
    {{ form_row(formContact.message, {'attr': {placeholder: "Votre message"}}) }}

<br><br>

    <div class="button">
		<a href="#">WIP</a>
	</div>

    {{ form_end(formContact) }}
</div>

{% endblock %}
